# =========================

# Python Cache

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Virtual Environment

# =========================

venv/
.env/
.venv/

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/

# =========================

# VS Code

# =========================

.vscode/

# =========================

# Environment Variables

# =========================

.env

# =========================

# Build Files

# =========================

build/
dist/
*.egg-info/

# =========================

# Machine Learning Models

# =========================

models/*.pkl
models/*.joblib
models/*.h5
models/*.pt

# =========================

# Dataset Files

# =========================

data/raw/*
data/processed/*

# Keep folder structure

!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================

# Logs

# =========================

logs/
*.log

# =========================

# MacOS

# =========================

.DS_Store

# =========================

# Temporary Files

# =========================

*.tmp
*.swp
